<ul>
	<li *ngFor="let todo of todos">
		<h5>{{todo.text}} - {{todo.completed}} - <span *ngIf="todo.completed">{{ (todo.completedAt | amFromUnix) | amDateFormat:' MM-DD-YYYY hh:mmA' }}</span></h5>
		
		<button 
			class="btn btn-xs btn-primary"
			(click)="setTodoToEdit( todo )"
			data-toggle="modal" data-target="#editTodoModal"
			>
				E
		</button>
		
		<button 
			*ngIf="!todo.completed"
			class="btn btn-xs btn-success" 
			(click)="markDone(todo._id)">
				D
		</button>

		<button 
			*ngIf="todo.completed"
			class="btn btn-xs btn-warning" 
			(click)="unMarkDone(todo._id)">
				U
		</button>

		<button class="btn btn-xs btn-danger" (click)="removeTodo(todo._id)">X</button>
		
		<br>
	</li>
	
</ul>



<form class="form" [formGroup]="addTodoForm" (ngSubmit)="addTodo(addTodoForm.value)">
	<div class="form-grop">
		<textarea 
			name="todo_text" 
			formControlName="todo_text" 
			class="form-control" 
			cols="5" 
			rows="2">
		</textarea>
	</div>
	<input type="submit" value="Add Todo" class="btn btn-success" [disabled]="!addTodoForm.valid">
</form>



<!-- Modal -->
<div 
	*ngIf="todoToEdit" class="modal fade" id="editTodoModal" tabindex="-1" role="dialog" aria-labelledby="editTodoModal" aria-hidden="true">
	<div class="modal-dialog" role="document">
  		<form class="form" [formGroup]="editTodoForm" (ngSubmit)="editTodo(todoToEdit, editTodoForm.value)">
    		<div class="modal-content">
      			<div class="modal-header">
        			<h5 class="modal-title" id="exampleModalLabel">Edit ToDo</h5>
       				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
          				<span aria-hidden="true">&times;</span>
        			</button>
      			</div>
      			<div class="modal-body">
					<div class="form-grop">
						<textarea 
							name="todo_text" 
							formControlName="todo_text" 
							class="form-control" 
							cols="5" 
							rows="2"
							value=" {{todoToEdit.text}}">
						</textarea>
					</div>
      			</div>
     			<div class="modal-footer">
        			<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        			<button type="submit" class="btn btn-success" [disabled]="!editTodoForm.valid">Save changes</button>
      			</div>
    		</div>
    	</form>
  	</div>
</div>