<mat-card class="example-card" 
*ngFor="let todo of (todos ? todos.slice(0,10): []); let i = index" >
  <mat-card-header>
    <mat-card-title >
		<h3 >{{ todo.text}}</h3>
    </mat-card-title>
    <mat-card-subtitle *ngIf="todo.completed"> {{ (todo.completedAt | amFromUnix) | amDateFormat:' MM-DD-YYYY hh:mmA' }}</mat-card-subtitle>
  </mat-card-header>


  	<mat-card-actions>
  		<button
			mat-button
			color="accent"
			*ngIf="!todo.completed"
			(click)="setTodoToEdit( todo )"
			data-toggle="modal" 
			data-target="#editTodoModal"
			matTooltip="edit"
    	 	matTooltipPosition="above">
				<mat-icon>edit</mat-icon></button>
	    <button 
	    	mat-button 
	    	color="primary" 
	    	*ngIf="!todo.completed"
	    	(click)="markDone(todo._id)"
	    	matTooltip="mark done!"
    	 	matTooltipPosition="above">
	    		<mat-icon>done</mat-icon>
	    </button>


	    <button 
	    	mat-button 
	    	color="primary" 
	    	*ngIf="todo.completed"
	    	(click)="unMarkDone(todo._id)"
    	 	matTooltip="mark undone!"
    	 	matTooltipPosition="above">
	    		<mat-icon>history</mat-icon>
	    </button>

    	<button 
    		mat-button 
    		color="warn"
    		(click)="removeTodo(todo._id)"
    		matTooltip="Remove"
    	 	matTooltipPosition="above">
    			<mat-icon>delete</mat-icon>
    	</button>
  </mat-card-actions>
</mat-card>



<mat-card class="add-todo-card" style="margin-top: 20px;">
	<form class="example-form" [formGroup]="addTodoForm" (ngSubmit)="addTodo(addTodoForm.value)">
	  	<mat-form-field class="example-full-width">
	    	<textarea 
	    		matInput 
	    		name="todo_text" 
				formControlName="todo_text" 
	    		placeholder="Add todo...">
	    	</textarea>
	  	</mat-form-field>
		
		<mat-card-actions>
		  	<button 
	    		mat-button 
	    		color="warn"
	    		[disabled]="!addTodoForm.valid"
	    		matTooltip="Add todo"
	    	 	matTooltipPosition="above">
	    			<mat-icon>add</mat-icon>
	    	</button>
	  </mat-card-actions>

	</form>
</mat-card>


<!-- Modal -->
<div 
	*ngIf="todoToEdit" class="modal fade" id="editTodoModal" tabindex="-1" role="dialog" aria-labelledby="editTodoModal" aria-hidden="true">
	<div class="modal-dialog" role="document">
  		<form class="form" [formGroup]="editTodoForm" (ngSubmit)="editTodo(todoToEdit, editTodoForm.value)">
    		<div class="modal-content">
      			<div class="modal-header">
        			<h5 class="modal-title" id="exampleModalLabel">Edit ToDo</h5>
       				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
          				<span aria-hidden="true">&times;</span>
        			</button>
      			</div>
      			<div class="modal-body">
					<div class="form-grop">
						<textarea 
							name="todo_text" 
							formControlName="todo_text" 
							class="form-control" 
							cols="5" 
							rows="2"
							value=" {{todoToEdit.text}}">
						</textarea>
					</div>
      			</div>
     			<div class="modal-footer">
        			<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        			<button type="submit" class="btn btn-success" [disabled]="!editTodoForm.valid">Save changes</button>
      			</div>
    		</div>
    	</form>
  	</div>
</div>